extends ../../../views/layout

block content
  p: b start of biodata
  hr
  ul
    li Name: #{driver.name}
    li ID:   #{driver.id}
    li Bus:  #{driver.bas}
  ul
    li: a(href="/employee/#{driver.id}/edit") Edit
    li
      form(action='/employee/#{driver.id}', method="POST")
        input(type="hidden", name="_method", value="DELETE")
        button(type="submit") Delete
  hr
  p: i end of biodata
